@charset "utf-8";
/* CSS Document */
body {
	background-image:url(website-background-wincustomize-explore-clouds-284048-1217x880.jpg)
}

h1 {
	font-family:"MS Serif", "New York", serif;
	color:#FFF;
	text-align:center;
	}
p {
	text-align:center;
	color:#FFF;
}