@charset "utf-8";
/* CSS Document */

body {
	background-color: #E4EDEA;
}

h1 {
	font-family: 'Brush Script MT', cursive;
	text-align:center;
	color: #B2BDBA;
	font-size:50px
}

h2 {
	font-family: "Courier New", Courier, monospace;
	color: #B2BDBA;
	border-bottom:solid;
	border-left:solid;
	border-right:solid;
	border-top:solid;
	text-align:center;
}

h3 {
	font-family: 'Brush Script MT', cursive;
	color: #B2BDBA;
	text-align:center;
	
}

h4 {
	font-family: "Courier New", Courier, monospace;
	color: #B2BDBA;
}

p {
	font-family: "Courier New", Courier, monospace;
	color: #B2BDBA;
	text-align:center;
}

#header {
	margin-left:30%; 
	margin-right:30%;
}

#sidebar {
	border: solid white;
	width:25%;
	display:inline-block;
}

#mainbody {

	width: 70%;
	background:green;
	display:inline-block;
}

table {
	
}

thead {
		
}

tbody {
	
}

tr {
	
}

td {
	border: solid white;
	vertical-align:top;
	background-color: white;
}