@charset "utf-8";
/* CSS Document */

h1 {
	font-family:Tahoma, Geneva, sans-serif;
	border-style:solid;
	text-align:center;
}

#header {
	margin-left:30%; 
	margin-right:30%;
}

#sidebar {
	border:black solid; 
	width:25%;
}

#mainbody {
	float: left; 
	margin-left:25%;   
}
