@charset "utf-8";
/* CSS Document */
html{
	background-color:#CCC;
	height:auto;
	width:auto;
	text-align:center;
	margin:0%;
}
body{
	position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	background-color:#CCC;
	margin-left:auto;
	margin-right:auto;
	max-width:800px;
	min-width:250px;
	padding:15px;
	margin-top:0%;
	margin-bottom:0%;
	height:100%;
	

}
.header h1{
	text-align:center;
}
.header ul{
	text-align:center;
}
.header li{display:inline
}
.header a{
	text-decoration:none;
}

.about me{
	float:left;
	max-width:80%;
	}
.contact{
	float:right;
	margin-top:50px;
	margin-right:25px;
}
.contact ul{
	
	margin-left:0px;
	padding-left:0px;
	list-style:hiragana-iroha;
	
}

h1 { 
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	border-top-style:solid
	
}

h3 {
	border-bottom-style:solid
}
h3 {
	border-right-style:solid
}

h3 {
	border-left-style:solid
}

h2 {
	border-bottom-style:solid

}

h2 {
	border-top-style:solid
}

h2 {
	border-right-style:solid
}

h2 {
	border-left-style:solid
}

h1 {
	border-bottom-style:double
}

h1 {
	border-top-style:double
}

h1 {
	border-right-style:double
}
	
h1 {
	border-left-style:double
}

h2 {
	color:#000;
		font-family: Arial, Helvetica, sans-serif;
}

h3 {
	color:#000;
		font-family: Arial, Helvetica, sans-serif;
}
