@charset "utf-8";
h1 {
	color:#000;
	text-align:center;
	font-family:Georgia, 			"Times New Roman", Times, serif;
	font-size:10px;
}

.menu > ul {
	display:table;
	padding:0;
	margin:0;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.menu > ul > li {
	position:relative;
	display:table-cell;
	margin:0px;
	padding:0;
	width:10%;
	border-left:none;
	text-align:center;
	height:40px;
	vertical-align:bottom;
	background-color:#FFF;
}

.menu > ul > li > a {
font-size:20px;
}

.menu > ul > li:hover, .menu > ul > .current-item > a {
	background:#FFF;
}

.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
}

.sub-menu {
	width:100%;
	padding:0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	background:#FFF;
	text-align:center;
	border-top:solid #000 thick;
}

.sub-menu li {
	display:table;
	text-align:center;
	width:80%;
	margin:auto;
	font-size:10px;
}

.sub-menu li #first {
	display:table;
	text-align:center;
	width:100%;
	border-top:0;
	margin:auto;
	font-size:5px;
}

.sub-menu a {
	display: table-cell;
	height:40px;
	vertical-align:middle;
	width:100%;
	text-align:center;
	font-size:15px;

}

.sub-menu li:hover, .sub-menu .current item a {
	background-color:#FFF;
}



.sub-menu li:hover .3rdtier {
	z-index:1;
	opacity:1;
}
a:visited{
	color:#000;
	text-decoration:none;
	}

a {
	color:#000;
	text-decoration:none;
	font-size:15px;
}


