@charset "utf-8";
/* CSS Document */

body {
	background-image:url(IMG_2200.JPG);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:cover;
}


h1 {
	font-size:70px;
	border:none;
	font-family: "Times New Roman", Times, serif; 
	padding-bottom:0px;
	margin-bottom:0px;
	color:black;
}

h2 {
	text-align:center;
	color:black;
	font-style:italic;
	padding-top:0;
	margin-top:0;
	font-size:40px;
	}
	
img {
	width:35%;
    margin:0 0 10px 10px;
}

iframe {
	width:50%;
	margin:0 0 10px 10px;
	height:300px;
	position:relative;
	top:-5px;
	overflow-x:hidden;
	overflow-y:auto;
	float:right;
	border:thin;
	border-color:#CCC;
	padding-right:5px;
	right:5px;
	
}

h3 {
	font-size:30px;
	float:left;
	position:relative;
	margin-left:5;
	padding-left:.5px;
}

.images {
    text-align: justify;
    width: [width of img];
}

.images img {
    display: block;
    margin: 0 auto;
}

#collums {
	position:realative;
	border:thin;
	left:-100px;
}