@charset "utf-8";
/* CSS Document */

#Spainpic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
	position:relative;
}
#Italypic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	postion:relative;
	height:50px;
	width:50px;
}
	

#Chinapic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
}

#Francepic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
}

#Irelandpic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
}

#Thailandpic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
}
#Greecepic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:50px;
	width:50px;
}




